# Ignore Audio Fonts and Graphics folders
Audio/
Fonts/
Graphics/
.import/
.vscode/
bin/
Maps/TiledMaps/
.directory
*.apk
*.exe
*.x86_64
*.import
export_presets.cfg
*.keystore
PermittedAssets/UraniumIcon.png
Utilities/Save/*.tres
Pokémon Uranium.nro
Pokémon Uranium.pck
SetUpComplete.txt
